.profile__info-subscribe {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
@media screen and (max-width: 425px) {
  .profile__info-subscribe {
    text-align: center;
    font-size: 14px;
    line-height: 1.21;
  }
}
