.elements {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 880px;
    min-height: 744px;
    display: grid;
    grid-template-columns: repeat(auto-fit,282px);
    column-gap: 17px;
    row-gap: 20px;
    padding: 0;
  }