.footer {
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 60px;
  max-width: 880px;
}
@media screen and (max-width: 425px) {
  .footer {
    max-height: 14px;
    padding-top: 48px;
    padding-bottom: 36px;
    padding-left: 19px;
  }
}